.border-end-2.border-dark.p-2.rounded-2.bg-light
    h4 Categories
    .text-start
        ul.list-unstyled.list-group.accordion(id="categories")
            li.list-group-item.accordion.item
                h5.accordion-header(id="carsAndVehicles")
                    button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#carsAndVehiclesContent", aria-expanded="true", aria-controls="carsAndVehiclesContent") Cars & Vehicles 
                .accordion-collapse.collapse(id="carsAndVehiclesContent", aria-labelledby="carsAndVehicles", data-bs-parent="categories")
                    ul.list-unstyled.list-group.accordion-body 
                        li.list-group-item Cars
                        li.list-group-item Motorbikes & Scooters
                        li.list-group-item Vans
                        li.list-group-item Campervans & Motorhomes
                        li.list-group-item Caravans
                        li.list-group-item Trucks
                        li.list-group-item Plant & Tractors
                        li.list-group-item Other Vehicles
                        li.list-group-item Accessories
                        li.list-group-item Parts
                        li.list-group-item Wanted


            li.list-group-item.accordion.item
                h5.accordion-header(id="forSale")
                    button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#forSaleContent", aria-expanded="true", aria-controls="forSaleContent") For Sale
                .accordion-collapse.collapse(id="forSaleContent", aria-labelledby="forSale", data-bs-parent="categories")
                    ul.list-unstyled.list-group.accordion-body 
                        li.list-group-item Appliances
                        li.list-group-item Audio & Stereo
                        li.list-group-item Baby & Kids Stuff
                        li.list-group-item Cameras, Camcorders & Studio Equipment
                        li.list-group-item Christmas Decorations
                        li.list-group-item Clothes, Footwear & Accessories
                        li.list-group-item Computers & Software
                        li.list-group-item DIY Tools & Materials
                        li.list-group-item Health & Beauty
                        li.list-group-item Home & Garden
                        li.list-group-item House Clearance
                        li.list-group-item Music, Films, Books & Games
                        li.list-group-item Musical Instruments & DJ Equipment
                        li.list-group-item Office Furniture & Equipment
                        li.list-group-item Phones, Mobile Phones & Telecoms
                        li.list-group-item Sports, Leisure & Travel
                        li.list-group-item Tickets
                        li.list-group-item TV, DVD, Blu-Ray & Videos
                        li.list-group-item Video Games & Consoles
                        li.list-group-item Freebies
                        li.list-group-item Other Goods
                        li.list-group-item Stuff Wanted
                        li.list-group-item Swap Shop

            li.list-group-item.accordion.item
                h5.accordion-header(id="property")
                    button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#propertyContent", aria-expanded="true", aria-controls="propertyContent") Property
                .accordion-collapse.collapse(id="propertyContent", aria-labelledby="property", data-bs-parent="categories")
                    ul.list-unstyled.list-group.accordion-body 
                        li.list-group-item For Sale
                        li.list-group-item To Rent
                        li.list-group-item To Share
                        li.list-group-item To Swap
                        li.list-group-item Commercial
                        li.list-group-item Parking & Garage
                        li.list-group-item International
                        li.list-group-item Holiday Rentals
                        li.list-group-item Property Wanted

            li.list-group-item.accordion.item
                h5.accordion-header(id="jobs")
                    button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#jobsContent", aria-expanded="true", aria-controls="jobsContent") Jobs
                .accordion-collapse.collapse(id="jobsContent", aria-labelledby="jobs", data-bs-parent="categories")
                    ul.list-unstyled.list-group.accordion-body 
                        li.list-group-item Accountancy
                        li.list-group-item Admin, Secretarial & PA
                        li.list-group-item Agriculture & Farming
                        li.list-group-item Animals
                        li.list-group-item Arts & Heritage
                        li.list-group-item Charity
                        li.list-group-item Childcare
                        li.list-group-item Computing & IT
                        li.list-group-item Construction & Property
                        li.list-group-item Customer Service & Call Centre
                        li.list-group-item Driving & Automotive
                        li.list-group-item Engineering
                        li.list-group-item Financial Services
                        li.list-group-item Gardening
                        li.list-group-item Health & Beauty
                        li.list-group-item Healthcare & Medical
                        li.list-group-item Hospitality & Catering
                        li.list-group-item Housekeeping & Cleaning
                        li.list-group-item HR
                        li.list-group-item Legal
                        li.list-group-item Leisure & Tourism
                        li.list-group-item Manufacturing & Industrial
                        li.list-group-item Marketing, Advertising & PR
                        li.list-group-item Media, Digital & Creative
                        li.list-group-item Performing Arts
                        li.list-group-item Purchasing & Procurement
                        li.list-group-item Recruitment
                        li.list-group-item Retail & FMCG
                        li.list-group-item Sales
                        li.list-group-item Scientific & Research
                        li.list-group-item Security
                        li.list-group-item Social & Care Work
                        li.list-group-item Sport, Fitness & Leisure
                        li.list-group-item Teaching & Education

            li.list-group-item.accordion.item
                h5.accordion-header(id="services")
                    button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#servicesContent", aria-expanded="true", aria-controls="servicesContent") Services
                .accordion-collapse.collapse(id="servicesContent", aria-labelledby="services", data-bs-parent="categories")
                    ul.list-unstyled.list-group.accordion-body 
                        li.list-group-item Business & Office
                        li.list-group-item Childcare
                        li.list-group-item Clothing
                        li.list-group-item Computers & Telecoms
                        li.list-group-item Entertainment
                        li.list-group-item Finance & Legal
                        li.list-group-item Food & Drink
                        li.list-group-item Goods Suppliers & Retailers
                        li.list-group-item Health & Beauty
                        li.list-group-item Motoring
                        li.list-group-item Pets
                        li.list-group-item Property & Maintenance
                        li.list-group-item Tradesmen & Construction
                        li.list-group-item Transport
                        li.list-group-item Travel & Tourism
                        li.list-group-item Tuition & Classes
                        li.list-group-item Weddings

            li.list-group-item.accordion.item
                h5.accordion-header(id="community")
                    button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#communityContent", aria-expanded="true", aria-controls="communityContent") Community
                .accordion-collapse.collapse(id="communityContent", aria-labelledby="community", data-bs-parent="categories")
                    ul.list-unstyled.list-group.accordion-body 
                        li.list-group-item Artists & Theatres
                        li.list-group-item Classes
                        li.list-group-item Events, Gigs & Nightlife
                        li.list-group-item Groups & Associations
                        li.list-group-item Lost & Found Stuff
                        li.list-group-item Music, Bands & Musicians
                        li.list-group-item Rideshare & Car Pooling
                        li.list-group-item Skills & Language Swap
                        li.list-group-item Sports Teams & Partners
                        li.list-group-item Travel & Travel Partners

            li.list-group-item.accordion.item
                h5.accordion-header(id="pets")
                    button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#petsContent", aria-expanded="true", aria-controls="petsContent") Pets
                .accordion-collapse.collapse(id="petsContent", aria-labelledby="pets", data-bs-parent="categories")
                    ul.list-unstyled.list-group.accordion-body 
                        li.list-group-item Pets for Sale
                        li.list-group-item Equipment & Accessories
                        li.list-group-item Missing, Lost & Found