.card.mb-3
  .row
    .col-md-4
      img.img-fluid.rounded-start(src="...", alt="Mert Başar Yıldırım")
    .col-md-8.text-start
      .card-body
        h3.card-title About Author
        p.card-text
          | Hello! I'm Mert Başar Yıldırım, a student at Tobb University studying Computer Engineering. <br> I am interested in Web Development, Cybersecurity, Artificial Intelligence, Algorithmic Trading, and Software Development.
        p.card-text
          | Contact:
          br
          | LinkedIn: #[a(href="https://linkedin.com/in/basaryldrm06", target="_blank") basaryldrm06]
          br
          | GitHub: #[a(href="https://github.com/basaryldrm06", target="_blank") basaryldrm06]
