
.card.mb-3.text-center
  .card-header Follow this Project on Github
  .card-body
    h5.card-title This site is still under development!
    p.card-text You can provide your feedback and suggestions through the following link. Feel free to follow the project and review the code.
    a.btn.btn-primary(href="https://github.com/basaryldrm06/sahtesinden.com", target="_blank") See Repository
  .card-footer.text-muted Your feedback is important.