extends ../components/layout

block content 
    .col-10
        .col3
            p.
                Hello World 

        .col6
            p.
                Hello World 
            
        .col3 
            p.
                Hello World 
            