extends ../components/layout

block content
    .col-12
        .container
            .row
                .col-3
                    p.
                        categories 

                .col-6
                    p.
                        vitrine 
                    
                .col-3
                    p.
                        display settings 
                    