extends ../components/layout

block content 
    .col-8
        img(src="/site_images/logo.png" alt="logo")
        h3 Welcome to sahtesinden.com
        p.
            Hello and welcome to [Your Site's Name], a digital playground crafted 
            by a singular enthusiast in the realms of Node.js and MongoDB. This website
            is an ongoing project, born out of a personal journey to master the 
            intricacies of these technologies and weave them together into a cohesive 
            web experience.
        p.
            At [Your Site's Name], I am driven by a passion for continuous learning in 
            the dynamic field of web development. This site serves as a canvas where 
            experiments unfold, code is written and rewritten, and skills are honed. 
            Leveraging the power of Node.js for server-side scripting and MongoDB for 
            a versatile and scalable database solution, I navigate the realm of 
            full-stack development.
        p.
            It's important to note that this is not a finalized website; rather, it's
            a living testament to progress. Every line of code written here contributes
            to a deeper understanding of the technologies at play. I invite you to 
            explore the various sections and functionalities, bearing in mind that this
            is a solo endeavor in its developmental phase. Your feedback is invaluable 
            as I work towards enhancing user experience and functionality.
        p.
            While [Your Site's Name] may not be a bustling hub of activity at the moment,
            it reflects a commitment to growth and improvement. Feel free to explore, 
            test features, and witness the evolution of this project. Embrace the 
            imperfections as stepping stones toward excellence.
        
        include ../components/home/author-horizontal-card.pug
        
        include ../components/home/used-technologies.pug

        include ../components/home/github-repository-redirector.pug

        h3 Author's Last Words 
        blockquote
            p.
                Thank you for visiting [Your Site's Name]. Your curiosity and support fuel 
                my determination to elevate this platform. Stay tuned for updates, and in 
                the meantime, enjoy the journey!
            footer.blockquote-footer.mt-2 Mert Başar Yıldırım